/*Добавляем шрифты*/

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*Стики-футер*/

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  flex-grow: 1;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
}

/*Скрывает дополнительные заголовки*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Список обнуления  стилей по умолчанию*/

.reset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reset-link {
  color: #000000;
  text-decoration: none;
}

/*Стили шапки*/

.navigation-logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
}

.navigation-search-button {
  margin-left: 205px;
}

/*Кнопка поиска в шапке*/

.navigation-search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*Кнопка "Хочу сюда" в шапке*/

.navigation-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 36px;
  margin: -4px 70px 14px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  background-color: #756157;
  color: #ffffff;
  cursor: pointer;
}

/*Логотип на хиро*/

.navigation {
  position: relative;
}

/*Изображение хиро*/

.hero {
  background-color: #756157;
  background-image: url(../images/main/divider.svg),
    url(../images/main/index-hero.png);
  background-position: center bottom, center center;
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  padding: 43px 371px 82px 371px;
}

/*Стили для преимуществ*/

.advantages-header {
  margin-bottom: 42px;
}

.advantages-header-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-header-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 385px;
  background-color: #82b3d3;
}

.advantages-wide-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
  padding-top: 102px;
  padding-right: 113px;
  padding-left: 113px;
}

.advantages-wide-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding-top: 62px;
  padding-bottom: 102px;
}

.advantages-item-wide {
  display: flex;
  flex-direction: row;
}

.advantages-item-wide-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding-top: 102px;
  padding-right: 113px;
  padding-left: 113px;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-top: 62px;
  padding-bottom: 102px;
}

.advantages-item {
  background-color: #83b3d31f;
}

.middle {
  background-color: #83b3d333;
}

.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 385px;
}

/*Recommendation*/

.recommendation-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 64px;
}

.recommendation-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 64px;
}

.recommendation-list {
  display: flex;
  flex-wrap: wrap;
}

.recommendation-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 385px;
  background-color: #83b3d31f;
}

.recommendation-center-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 385px;
  background-color: #ffffff;
}

.recommendation-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding-top: 102px;
  padding-right: 113px;
  padding-left: 113px;
}

.recommendation-item-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-top: 62px;
  padding-bottom: 102px;
}

/*Стили для "Заинтересовались?"*/

.search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 96px;
  padding-bottom: 20px;
}

.search-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 54px;
}

.search-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  height: 52px;
  margin-bottom: 96px;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  background-color: #756157;
  color: #ffffff;
  cursor: pointer;
}

/*Subscribe*/

.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  padding-top: 96px;
  padding-bottom: 20px;
}

.subscribe-discription {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding-bottom: 54px;
}

.index-subscribe {
  background-color: #756157;
  background-image: url(../images/main/subscribe.jpg);
  width: 1200px;
  height: 415px;
}

.index-subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  padding-top: 96px;
  padding-bottom: 20px;
}

.index-subscribe-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 54px;
}

.subscribe-form {
  padding-bottom: 104px;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  width: 232px;
  height: 52px;
  background-color: #82b3d3;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/*Footer*/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  height: 40px;
  padding-left: 70px;
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-social-item {
  padding: 13px 12px;
}

.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  padding-top: 45px;
  padding-bottom: 35px;
}

.htmlacademy-logo {
  padding-top: 49px;
  padding-bottom: 39px;
  padding-right: 70px;
}

/*Catalog form*/

.catalog-search {
  background-color: #756157;
  background-image: url(../images/catalog/form.jpg);
  width: 1200px;
  height: 412px;
}

.catalog-search-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 8px;
  padding-left: 111px;
}

.infrastructure-list {
  display: grid;
}

.typeofhouse-list {
  display: grid;
}

.cost-list {
  display: grid;
}

/*Catalog header*/

.catalog-header {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
}

.catalog-search-result {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-select {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-header-view-list {
  display: flex;
}

/*Catalog card-list*/

.goodscard-block {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: space-around;
}

.goodscard {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  margin-top: 40px;
}

.goodscard-title {
  grid-column: 1 / -1;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.goodscard-type {
  grid-column: 1 / 2;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.goodscard-price {
  grid-column: 2 / 3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.goodscard-link-more {
  grid-column: 1 / 2;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 88px;
  height: 20px;
  padding: 8px 30px 8px 20px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.goodscard-item-button {
  grid-column: 2 / 3;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.goodscard-link {
  grid-column: 1 / -1;
}

.rating {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #333333;
  width: 140px;
  height: 37px;
}

/*Пагинация на странице каталога*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 8px;
  margin-left: 70px;
  margin-top: 80px;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 12px;
  box-sizing: border-box;
}
